*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Kotlin Multiplatform
.kotlin
.konan
*.klib

# Android
*.ap_
*.dex
*.class
bin/
gen/

# Log files
*.log
